.angled-span {
  transform: skewX(-10deg);
  display: inline-block;
}

.rounded-top-left {
  border-top-left-radius: 0.25rem;
}

.rounded-top-right {
  border-top-right-radius: 0.25rem;
}

.rounded-bottom-left {
  border-bottom-left-radius: 0.25rem;
}

.rounded-bottom-right {
  border-bottom-right-radius: 0.25rem;
}

.liniear-gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1.2) 100%);
}

.custom-background {
  background-color: #f0f0f0;
  color: #76a713;
  border-radius: 9999px;
  padding: 0.75rem;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.custom-background:hover {
  background-color: #76a713;
  color: #fff;
}

.blog-card-image-hover {
  content: '';
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(bottom, rgba(118, 167, 19, 0.9), rgba(118, 167, 19, 0));
}

.blog-grid-card-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.icon-before::before {
  content: '';
  background-color: #ffe4cc;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
}

.hover-duration-300 {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.hover-duration-500 {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
